$font-family-sans-serif: "Poppings" !default;
@import "~bootstrap/scss/bootstrap.scss";

label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 50px auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

$white: #fff;
$cornflower-blue: #65a2e9;
$tropical-blue: #d1e5fa;

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    // border: 1px solid #D5D5D5;
    box-sizing: border-box;
    margin-left: -1px;

    a {
      background: $tropical-blue;
      margin: .25rem;
      padding: .25rem .5rem;
      border-radius: 4px;
      text-decoration: none;
      position: relative;
      display: block;
      color: $cornflower-blue;

      &.active {
        background: $cornflower-blue;
        color: $white;
      }
    }
  }
}

.table-info {
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 64px;
}

table {
  border-collapse: collapse;
}

td {
  border-top: 1px solid #dee2e6;
}

th, td {
  padding: .5rem;
}

